*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Open Sans', sans-serif;
} 

html,body{
  height: 100%;
  width: 100%;
}

.card{
  background-color: pink;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.nav{
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  padding: 7px;
  margin-bottom: 12px;;
}

.nav-link{
  margin: 5px;
  padding: 10px 40px;
  color: rgb(218, 181, 181);
  text-decoration: none;
  background-color: brown;
  border-radius: 1rem;
}